<!DOCTYPE html>
<html lang="en">

<head>
  <title>Orders</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <!-- <link rel="stylesheet" href="/styles/main.css" /> -->
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/menu.css" />
  <link rel="stylesheet" href="/styles/orders.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>

  <link rel="icon" href="/images/favicon.ico" type="image/x-icon">

</head>

<body id="orders-page">
  <header></header>

  <div class="container">

    <section class="row orders-section">
      <h2 id="incoming-header">Incoming Orders</h2>
      <div class="orders" id="incoming">
        <% for (const order of orders) { %>
          <% if (order.order_status && order.order_approved === null) { %>
            <div class="card col-md-3">
              <div class="card-body">
                <h5 class="card-title"><%= order.client %></h5>
                <hr/>
                <% for (const dish of order.dishes) { %>
                  <div class="order-list-item">
                    <div class="order-item">
                      <i class="bi bi-<%= dish.quantity %>-circle-fill item-count"></i> <%= dish.name %>
                    </div>
                    <div class="order-price">
                      <strong>$<%= dish.price * dish.quantity %></strong>
                    </div>
                  </div>
                <% } %>
              </div>
              <div class="card-footer">
                <p class="est-time">Enter estimated completion time:</p>
                <form method="post" action="/orders">
                  <input type="hidden" name="order_id" value="<%= order.id %>" />
                  <div class="est-time-input">
                    <select name="est_time" class="form-select">
                      <option value="10" selected>10 mins</option>
                      <option value="20">20 mins</option>
                      <option value="30">30 mins</option>
                      <option value="40">40 mins</option>
                    </select>
                  </div>
                  <button type="submit" class="btn btn-primary accept-btn">Accept order</button>
                </form>
                <form method="post" action="/orders">
                  <input type="hidden" name="order_id" value="<%= order.id %>" />
                  <button type="submit" class="btn btn-primary-outline reject-btn" name="reject" value="true">Reject order</button>
                </form>
              </div>
            </div>
          <% } %>
        <% } %>
      </div>
    </section>

    <section class="row orders-section">
      <h2 id="inprogress-header">Orders In Progress</h2>
      <div class="orders" id="inprogress">
        <% for (const order of orders) { %>
          <% if (order.order_status && order.order_approved && order.order_completed === null) { %>
            <div class="card col-md-3">
              <div class="card-body">
                <h5 class="card-title"><%= order.client %></h5>
                <hr/>
                <% for (const dish of order.dishes) { %>
                  <div class="order-list-item">
                    <div class="order-item">
                      <i class="bi bi-<%= dish.quantity %>-circle-fill item-count"></i> <%= dish.name %>
                    </div>
                    <div class="order-price">
                      <strong>$<%= dish.price * dish.quantity %></strong>
                    </div>
                  </div>
                <% } %>
              </div>
              <div class="card-footer">
                <p class="est-time">Estimated completion time: <%= order.estimated_time %> mins</p>
                <form method="post" action="/orders">
                  <input type="hidden" name="order_id" value="<%= order.id %>" />
                  <button type="submit" class="btn btn-primary complete-btn" name="complete" value="true">Mark as complete</button>
                </form>
              </div>
            </div>
          <% } %>
        <% } %>
      </div>
    </section>

    <section class="row orders-section">
      <h2 id="completed-header">Completed Orders</h2>
      <div class="orders" id="completed">
        <% for (const order of orders) { %>
          <% if (order.order_status && order.order_approved && order.order_completed) { %>
            <div class="card col-md-3">
              <div class="card-body">
                <h5 class="card-title"><%= order.client %></h5>
                <hr/>
                <% for (const dish of order.dishes) { %>
                  <div class="order-list-item">
                    <div class="order-item">
                      <i class="bi bi-<%= dish.quantity %>-circle-fill item-count"></i> <%= dish.name %>
                    </div>
                    <div class="order-price">
                      <strong>$<%= dish.price * dish.quantity %></strong>
                    </div>
                  </div>
                <% } %>
              </div>
              <div class="card-footer">
                <p class="est-time">Estimated completion time: <%= order.estimated_time %> mins</p>
                <p class="act-time">Actual completion time:
                  <% if (Math.round((order.order_completed - order.order_approved) / 60000) === 1) { %>
                    <%= Math.round((order.order_completed - order.order_approved) / 60000); %> min
                  <% } else { %>
                    <%= Math.round((order.order_completed - order.order_approved) / 60000); %> mins
                  <% } %>
                </p>
              </div>
            </div>
          <% } %>
        <% } %>
      </div>
    </section>

  </main>

  <script>
    $(document).ready(function() {

      var count_incoming = document.getElementById('incoming').childElementCount;
      document.getElementById('incoming-header').innerHTML = 'Incoming Orders (' + count_incoming + ')';
      if (count_incoming === 0) {
        document.getElementById('incoming').innerHTML = 'You have no incoming orders.';
      }

      var count_inprogress = document.getElementById('inprogress').childElementCount;
      document.getElementById('inprogress-header').innerHTML = 'Orders In Progress (' + count_inprogress + ')';
      if (count_inprogress === 0) {
        document.getElementById('inprogress').innerHTML = 'You have no orders in progress.';
      }

      var count_completed = document.getElementById('completed').childElementCount;
      document.getElementById('completed-header').innerHTML = 'Completed Orders (' + count_completed + ')';
      if (count_completed === 0) {
        document.getElementById('completed').innerHTML = 'You have no completed orders.';
      }

    });
  </script>
</body>
</html>
